:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: brightness(0.8);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  border: none;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: top;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  font-size: 4em;
  line-height: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #494949;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(255, 255, 255);
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 20px auto -webkit-focus-ring-color;
}

.interactive {
  position: relative;
  bottom: 0vw;
}

.utensils {
  position: absolute;
  bottom: 5%;
  right: 5%;

  width: auto;
  display: flex;
  align-items: flex-end;
  gap: 0vw;
  z-index: 5;
}

.pot-img {
  height: 400px;
  max-width: 100%;
}

.pot-container {
  position: relative;
}

.boiling-effect {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  pointer-events: none;
}

.bubble {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.steam {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bellows-img {
  height: 200px;
  margin-bottom: 20px;
  max-width: 100%;
}

.close-button {
  position: absolute;
  top: 5vh;
  right: 5vh;
  padding: 10px;
  z-index: 100;
}
