:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(49, 49, 49, 0.103);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
    width: 50vw;
    height: 50vh;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color:transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display:flex;
  width:100vw;
  height: 100vh;
  justify-content:center;
  align-items:top;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.interactive {
  margin-top: 2em;
  display: flex;
  gap: 1em;
  justify-content: bottom;
}

.drag-box {
  margin-top: 2em;
  display: flex;
  gap: 1em;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #494949;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(255, 255, 255);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 20px auto -webkit-focus-ring-color;
}

